[Unit]
Description=The appcanary
After=network.target

[Service]
Type=simple
User=appcanary
ExecStart=/usr/sbin/appcanary

[Install]
WantedBy=multi-user.target
